//body::before {
//  background-color: ;
//  background-repeat: no-repeat, repeat;
//  background-size: cover;
//  //background-position: center;
//  background-image: url("/dist/assets/images/NewYorkStockExchange.png");
//  opacity: .5;
//}
*{
  font-family: Rubik;
}
.card {
  border-radius: 10px;
  z-index: 1;

}

body {
  background-color: #FFF8DC ;  //#F0FFFF DCDCDC;

}

.ticker-container{
  z-index: -1;
}

/*
@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    margin: 0;

    .app {
        background-color: #000;
        color: #FFF;
        font-family: rustic;
        font-size: 30px;
        padding: 50px;
        text-align: center;

        .logo {
            height: 175px;
        }

        .rotate {
            animation: spin 10s linear infinite;
        }

        h1 {
            color: #61DAFB;
            font-size: 4em;
            font-weight: normal;
            letter-spacing: 2px;
            margin: 0.16em;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/
