.about-wrapper{
  margin: auto;
  padding: 0;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  height: 50vh;

  img{
    height: 20vh;
    align-self: center;
  }
  p{

  }
}