.about-wrapper{
  font-size: 18px;


  img{
    height: 20vh;
    align-self: center;
    margin-top: 20px;
  }

  .title {
    font-size: 40px;
  }

  .about-text {
    text-align: center;
    font-size: 18px;
  }

  .card {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;

    .divider {
      text-align: center;
    }
  }
}





