.nav{
  background-color: #004d00;

  .nav-wrapper {
    ul {
      li {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

}
img{
  height: 5vh;
  background-size: contain;
}