.nav{
  background-color: #004d00;

  .nav-wrapper {
    .brand-logo {
      margin-left: 10px;
      text-decoration: none;
    }
    ul {
      li {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

}
